<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>
<body>


  <form action="/register" method="POST">
    <h1> Register </h1>
    <p>Please Fill All Fields</p>

    <label for="email">Email</label>
    <input type="text" placeholder="Enter Email" name="email" id="email" required>

    <label for="password">Password</label>
    <input type="text" placeholder="Enter Password" name="password" id="password" required>

    <label for="password-repeat">Email</label>
    <input type="text" placeholder="Re-Enter Password" name="password-repeat" id="password-repeat" required>
  </form>

  
</body>
</html>